*{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1, h2, h4, h5, h6 {
    font-family: "bello-pro",sans-serif;
}

html {
    min-width: 450px;
}

.logoright{
    float: right !important;
}

.logoright img{
    height: 20px;
    margin-top: 10px;
}

.nav{
    width: 100%;
}

.nav li{
    float:left;
}


.footer-top {
    font-family: "bello-pro",sans-serif;
    position: relative;
    height: 220px;
    margin-bottom: 0px;
    padding: 70px 5% 80px 5%;
    text-align: left;
    color: white;
    opacity: .9;
    background-image: url(../img/masthead.png);
    background-position-x: 104%;
    background-position-y: 28%;
    background-size: 600px;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px 0px inset, rgba(0, 0, 0, 0.2) 0px -3px 7px 0px inset;
}

.footer-top h2 {
    color: #333;
    font-size: 70px;
    line-height: 85px;
    text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 0px 30px;
}

.footer-bottom {
    color: rgb(119, 119, 119);
    font-family: "futura-pt",sans-serif;
    height: 20px;
    margin: 0;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer-bottom.simplified {
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 7px 0px;
    margin-top: 20px;
}

table {
    border-color: black !important;
    border-radius: 8px !important;;
}

td {
    border-color: black !important;
}

.bs-docs-example:after{
    content: none;
}

.bs-docs-example {
    padding: 19px 19px 19px;
    background-color: transparent;
    background-image: url(../img/papier-peint.jpeg);
    background-position: center;
    height: 400px;
    margin-bottom: 0px;
    margin-top: 30px;
    /*min-width: 900px;*/
}



.spacer50 { height:44px; width: 0px;}

.horloge-cadre{
    width:320px;
    height:320px;
    padding-top: 41px;
    padding-left: 41px;
    vertical-align: middle;
    float: right; 
    background-image: url(../img/horloge-cadre.png);
    margin-right: 30px;
}

.horloge-back-leds{
    background-color: black;
    position: absolute; 
    width: 299px;
    height: 299px;
    background-image: url(../img/horloge-back-leds.png);
    background-repeat:no-repeat;
}

.horloge-front-leds{
    position: absolute;
    width:265px; 
    height: 265px;
    margin-left: 16px;
    margin-top: 16px;
    background-image: url(../img/horloge-front-leds-sprite.png);
    background-repeat: repeat;
    background-position: 0 0px;
}

.horloge-chiffres{
    width: 230px;
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.horloge-reflet {
    position: absolute;
    width: 299px;
    height: 299px;
    background-image: url(../img/horloge-reflet.png);
    background-repeat: no-repeat;
}

.tv-fond{
    width: 361px;
    height: 253px;
    vertical-align: middle;
    background-image: url(../img/tv-fond.png);
    background-repeat: no-repeat; 
    background-position: center; 
    padding-top:46px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 30px;
}

.tv-image{
    height: 228px;
    vertical-align: middle;
    margin-left: 43px;
    background-image: url(../img/tv-image-0.png);
    background-repeat: no-repeat;
}

.surcont{
    background-color: black;
    padding-bottom: 14px; 
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.surcont .row{
    margin-left: 0px;
}

.cont{
    float: left;
    margin-left: 0px;
    width: 50%;
}

.cont1{
    padding-bottom: 10px;
}

.controleurs{
    padding: 16px 10px 2px 5px;
    margin-bottom: 30px;
    display: block;
}

.progress{
    height: 16px;
    margin-top: 6px;
}

.span12{
    min-height: 30px;
}

.demiprog {
    width: 50%;
    float: left;
    display: block;
}

.demiprog1 ul {
    margin-left: 1%;
}

.controleurs ul,
.pistes {
    margin: 0 0 0 0;
    padding: 0;
}

.controleurs li,
.pistes li {
    list-style: none;
    float: left;
    margin: 0 0.5% 0 0;
}


.btn-piste{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 40px;
    line-height: 40px;
    background-color:#3bb3e0;
    text-align: center;
    font-size: 12px; 
    text-decoration:none;
    color:#fff;
    position: relative;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)));
    -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    -o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.btn-piste:active {
    color:#156785;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background:rgb(44,160,202);
    -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    -o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    top:7px;
}

.btn-piste:active::before {
    top:-2px;
}

.btn-piste:hover {
    text-decoration: none;
}

.piste1{
    width: 29%;
}
.piste2{
    width: 26%;
}
.piste3{
    width: 17%;
}
.piste4{
    width: 26%;
}
.piste5{
    width: 13%;
}
.piste6{
    width: 28%;
}
.piste7{
    width: 27%;
}
.piste8{
    width: 16%;
}
.piste9{
    width: 13%;
}

.btn-two-line {
    line-height: 20px;
}

.anim-block{
    border: solid #777 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 0;
}

.wrapper{
    min-height: 100%
}

.li-fb{
    padding: 8px 15px 0 15px;
    width:200px;
}

.li-twt{
    padding: 10px 15px;
}

@media (max-width: 1199px) {
    
    .footer-top {
        background-size: 520px;
        height: 170px;
    }
    
    .footer-top h2 {
        font-size: 60px;
        line-height: 65px;
    }
}

@media (max-width: 979px) {
    .footer-top {
        background-size: 480px;
        background-position-x: 116%;
    }
    
    .horloge-cadre{
        margin: auto;
        float: none;
    }
    .progress{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    menu {
        position: absolute;
        top: -10px;
    }
    
    .surcont{ margin-left: 0px; }
    
    .cont{
        float: left;
        margin-left: 0px;
        width: 100%;
    }
    
    .cont ul{
        padding-left: 1%;
    }
    .cont1 ul{
        padding-left: 0;
        padding-right: 1%;
    }
    
    .demiprog {
        width: 100%;
    }
    
    .demiprog2 {
        margin-top: 24px;
        border-top: solid white 1px;
    }
    
    .demiprog2 ul {
        margin-left: 1%;
    }
    
    .btn-piste{
        font-size: 10px; 
    }
    
    .piste4{
        width: 25.5%;
    }
    
    .piste9{
        width: 13%;
    }
    
    footer {
        margin-right: -20px;
        margin-left: -20px;
    }
    
    .footer-top {
        background-image: url(../img/masthead-alt.png);
        text-align: center;
        background-size: 540px;
        background-position: center center;
        height: 90px;
        padding-top: 20px;
    }
    
    .footer-top h2 {
        font-size: 40px;
    }
    
    .anim-block{
        padding: 15px 0;
    }
    
    .anim-block > div{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
}

@media (min-width: 979px) {
    nav{
        height: 45px !important;
        overflow: hidden !important;
    }
}    

nav{
    margin-bottom: 0 !important;
}