.bs-docs-example:after{
  content: none;
}

.bs-docs-example {
  padding: 19px 19px 19px;
  background-color: transparent;
  background-image: url(../img/papier-peint.jpeg);
  background-position: center;
  height: 400px;
  margin-bottom: 0px;
  /*min-width: 900px;*/
}

html {
 min-width: 450px;
}

.spacer50 { height:44px; width: 0px;}

.horloge-cadre{
  width:320px;
  height:320px;
  padding-top: 41px;
  padding-left: 41px;
  vertical-align: middle;
  float: right; 
  background-image: url(../img/horloge-cadre.png);
  margin-right: 30px;
}

.horloge-back-leds{
  background-color: black;
  position: absolute; 
  width: 299px;
  height: 299px;
  background-image: url(../img/horloge-back-leds.png);
  background-repeat:no-repeat;
}

.horloge-front-leds{
  position: absolute;
  width:265px; 
  height: 265px;
  margin-left: 16px;
  margin-top: 16px;
  background-image: url(../img/horloge-front-leds-sprite.png);
  background-repeat: repeat;
  background-position: 0 0px;
}

.horloge-chiffres{
  width: 230px;
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.horloge-reflet {
  position: absolute;
  width: 299px;
  height: 299px;
  background-image: url(../img/horloge-reflet.png);
  background-repeat: no-repeat;
}

.tv-fond{
  width: 361px;
  height: 253px;
  vertical-align: middle;
  background-image: url(../img/tv-fond.png);
  background-repeat: no-repeat; 
  background-position: center; 
  padding-top:46px;
  margin-top: 31px;
  margin-bottom: 31px;
  margin-left: 30px;
}

.tv-image{
  height: 228px;
  vertical-align: middle;
  margin-left: 43px;
  background-image: url(../img/tv-image-1.png);
  background-repeat: no-repeat;
}

.surcont{
  margin-left: 29px;
  background-color: black;
  padding-bottom: 10px; 
}

.cont{
  float: left;
  margin-left: 0px;
  width: 50%;
}

.cont1{
  padding-bottom: 10px;

}

.btn {
  height: 20px;
}

.btn-piste{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  height: 40px;
  vertical-align: middle;
}

ul{
  margin: 0px;
  padding: 0px;
  height: auto;
}

li {
  list-style: none;
  float: left;
  padding: 0px 2px 0px 2px;
}

.span12{
  min-height: 30px;
}

.piste1{
  width: 29%;
}
.piste2{
  width: 25%;
}
.piste3{
  width: 13%;
}
.piste4{
  width: 30%;
}
.piste5{
  width: 18%;
}
.piste6{
  width: 18%;
}
.piste7{
  width: 18%;
}
.piste8{
  width: 22%;
}
.piste9{
  width: 20%;
}

@media (max-width: 1199px) {

  .surcont{
    margin-left: 20px;
  }

  .piste4{ width: 29%; }
  .piste9{ width: 19%; }
}

@media (max-width: 979px) {

  .horloge-cadre{
    margin: auto;
    float: none;
  }
  .piste4{ width: 28%; }
  .piste9{ width: 18%; }

}

@media (max-width: 767px) {
  .surcont{ margin-left: 0px; }
  .piste4{ width: 29%; }
  .piste9{ width: 19%; }
  .cont{
    float: left;
    margin-left: 0px;
    width: 100%;
  }


}

@media (max-width: 480px) {
  .piste4{ width: 28%; }
  .piste9{ width: 18%; }
}

